{# src/Jazzee/CommongBundle/Resources/views/layout.html.twig #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.11.0/cssnormalize/cssnormalize-min.css&3.11.0/cssfonts/cssfonts-min.css&3.11.0/cssgrids/cssgrids-min.css" />
        {% stylesheets '@JazzeeCommonBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    <div id='container'>
        <div id='hd'>{% block hd %}<h1>Title</h1>{% endblock %}</div>
        <div id='bd' class="yui3-g">
            {% block bd %}
            <div id='nav' class="yui3-u-5-24">{% block nav %}{% endblock %}</div>
            <div class="yui3-u-19-24">
                <div id='topbar'>{% block topbar %}{% endblock %}</div>
                <div id='messages'>{% block messages %}{% endblock %}</div>
                <div id='content'>{% block content %}{% endblock %}</div>
            </div>
            {% endblock %}
        </div>
        <div id='ft'>{% block ft %}{% endblock %}</div>
    </div><!-- end container -->
    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@JazzeeCommonBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
  </body>
</html>