# Bootstrap
app/bootstrap*

# Symfony directories
bin
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#build artifacts
build
.vagrant
*.box
app/dev/iso/*
*.iso
*~
